Dockerfile
.dockerignore

.git
.gitignore
.gitattributes
.github

.hintrc
.npmrc
.prettierignore
.prettierrc
eslint.config.js
.eslintrc.cjs
.graphqlrc

README.md
LICENCE

node_modules
.svelte-kit
build
package

.editorconfig
.vscode

**/.env

auth-schema.ts
*.db*
user_uploads
data